{% extends 'base.html' %} {% block content %}

<h1>Current Todo's</h1>

{% if user.is_authenticated %}
<h4>Logged in as <b>{{user.username}}</b></h4>
<form action="{% url 'logoutuser' %}" method="POST">
  {% csrf_token %}
  <button>Logout</button>
</form>

<br />
<h2>Here's my todo list!</h2>
<ul>
  {% for todo in currenttodos %}
  <li>
    <a href='{% url 'viewtodo' todo.id %}'>
    {% if todo.important %}
    <b> {% endif %} {{ todo.title }} {% if todo.important %} </b>
    {% endif %} - {% if todo.description %}
    <i>{{todo.description}}</i> {%endif%}
    </a>
  </li>
  {% endfor %}
</ul>

<a href="{% url 'createtodo' %}">Create a new todo!</a>
{% else %}

<a href="#">Sign Up</a>
<a href="#">Login</a>

{% endif %} {% endblock %}
